* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F8FA;
  max-width: 100%;
}

span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 3em;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;

}

li {
  font-family: 'Times New Roman', Times, serif;
  font-size: 15px;
}


p {
  line-height: 2.5em;
  display: inline-block;
}


#band {
  background-color: #FEFEFE;
  max-width: 100%;
  height: 80px;
  padding-top: 10px;
  padding-left: 20px;
}

#band img {
  vertical-align: middle;
}


.container {
  margin: 0 auto;
  max-width: 100%;
}

.box {
  margin: 0 auto;
  width: 800px;
  height: 70px;
  padding: 20px;
  padding-left: 50px;
  background-color: #FEFEFE;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid #a4a6a8;
}

.bluebox {
  width: 80px;
  height: 30px;
  background-color: #41ACE7;
  border-radius: 5px;
  padding-top: 6px;
  color: #F6F8FA;
  text-align: center;
  font-family: Cambria;
  font-size: 13px;
  display: inline-block;

}

.whitebox {
  width: 90px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 6px;
  color: #a4a6a8;
  text-align: center;
  font-family: Cambria;
  font-size: 13px;
  border: 1px solid #a4a6a8;
  display: inline-block;
}

.secondbox {

  margin: 0 auto;
  width: 800px;
  height: 500px;
  padding: 20px;
  padding-top: 30px;
  padding-left: 50px;
  background-color: #FEFEFE;
  border-radius: 0px 0px 20px 20px;
}


.green {
  width: 20px;
  height: 20px;
  color: green;
  font-size: 10px;
  border: 1px solid green;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
  display: inline-block;
  line-height: none;
}

.red {
  width: 20px;
  height: 20px;
  color: red;
  font-size: 10px;
  border: 1px solid red;
  border-radius: 50%;
  text-align: center;
  padding: 2px;
  display: inline-block;
  line height: none;

}


.blueed {
  background-color: #41ACE7;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F6F8FA;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.purplegoals {
  background-color: #9D74E5;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F6F8FA;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.greenrec {
  background-color: #62C1A6;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F6F8FA;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.oranmob {
  background-color: #D99133;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F6F8FA;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.pinkweb {
  background-color: #D765A2;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F6F8FA;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}

.sales {
  background-color: #9AB221;
  border-radius: 20px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #F6F8FA;
  font-size: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}