* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #F6F8FA;
  max-width: 100%;
}

span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-weight: bold;
  font-size: 3em;
  vertical-align: middle;
}

ul {
  list-style-type: none;
}

h2 {
font-family: Arial, Helvetica, sans-serif;
font-size: 20px;
font-weight: bold;

}

#band {
  background-color: #FEFEFE;
  max-width: 100%;
  height: 80px;
  padding-top: 10px;
  padding-left: 20px;
}

#band img {
  vertical-align: middle;
}


.container {
  margin: 0 auto;
  max-width: 1100px;
}

.box {
  margin: 0 auto;
  width: 800px;
  height: 70px;
  padding: 20px;
  padding-left: 50px;
  background-color: #FEFEFE;
  border-radius: 20px 20px 0px 0px;
  border-bottom: 2px solid #a4a6a8;
}

.bluebox {
  width: 80px;
  height: 30px;
  background-color: #459FDB;
  border-radius: 5px;
  padding-top: 6px;
  color: #F6F8FA;
  text-align: center;
  font-family: Cambria;
  font-size: 13px;
  display: inline-block;

}

.whitebox {
  width: 90px;
  height: 30px;
  background-color: transparent;
  border-radius: 5px;
  padding-top: 6px;
  color: #a4a6a8;
  text-align: center;
  font-family: Cambria;
  font-size: 13px;
  border: 1px solid #a4a6a8;
  display: inline-block;
}

.secondbox {

  margin: 0 auto;
  width: 800px;
  height: 500px;
  padding: 20px;
  padding-top: 30px;
  padding-left: 50px;
  background-color: #FEFEFE;
  border-radius: 0px 0px 20px 20px;
}